<template>
  <v-container>
    <v-layout>
      <v-flex>
        <input
          id="files"
          ref="files"
          type="file"
          multiple
          @change="handleFilesUpload()">
        <v-btn
          outline
          block
          large
          ripple
          light
          @click="addFiles()">
          <v-icon
            left
            large>cloud_upload</v-icon>
          Add files here
        </v-btn>
        <template
          v-if="files.length > 0">
          <v-list
            v-for="(file, key) in files"
            :key="key"
            light
            class="transparent"
            dense>
            <v-list-tile>
              <v-list-tile-action>
                <v-progress-circular
                  :rotate="-90"
                  :value="value"
                  :color="value === 100 ? 'success' : 'primary'">
                  {{ value }}
                </v-progress-circular>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ file.name }}
                </v-list-tile-title>
              </v-list-tile-content>
              <v-spacer />
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ file.size }}
                </v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon
                  color="error darken-1"
                  @click="removeFile(key)">
                  highlight_off</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
          <v-divider />
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
import filesize from 'filesize'

export default {
  data() {
    return {
      files: [],
      interval: {},
      value: 0
    }
  },
  mounted() {
    this.interval = setInterval(() => {
      if (this.value === 100) {
        return
      }
      this.value += 10
    }, 1000)
  },
  methods: {
    addFiles() {
      this.$refs.files.click()
    },
    handleFilesUpload() {
      let uploadedFiles = this.$refs.files.files

      //add every file to the array
      for (var i = 0; i < uploadedFiles.length; i++) {
        this.files.push(uploadedFiles[i])
      }
    },
    removeFile(key) {
      this.files.splice(key, 1)
    },
    submitFiles() {
      // init the form data
      let formData = new FormData()
      // add the data to submit
      for (var i = 0; i < this.files.length; i++) {
        formData.append('files[' + i + ']', file)
      }

      // make axios request
      axios
        .post('/multiple-files', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          onUploadProgress: function(progressEvent) {
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded * 100) / progressEvent.total)
            )
          }.bind(this)
        })
        .then(function() {
          console.log('FILE UPLOADED')
        })
        .catch(function() {
          console.log('UPLOAD FAILED')
        })
    }
  }
}
</script>

<style>
input[type='file'] {
  position: absolute;
  top: -500px;
}
</style>
