<template>
  <v-navigation-drawer
    :clipped="clipped"
    v-model="drawer"
    app
  >
    <v-list>
      <v-list-tile
        v-for="(item, i) in items"
        :to="item.to"
        :key="i"
        router
        exact
      >
        <v-list-tile-action>
          <v-icon v-html="item.icon" />
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title" />
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      drawer: false,
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ]
    }
  },
  created() {
    window.getApp.$on('APP_DRAWER_TOGGLED', () => {
      this.drawer = !this.drawer
    })
  }
}
</script>
