<template>
  <v-toolbar
    :clipped-left="clipped"
    scroll-off-screen
    app
    dark
    flat>
    <v-toolbar-side-icon @click.stop="handleDrawerToggle" />
    <img
      src="@/assets/mde-logo-light.svg"
      width="100"
      class="mx-2">
    <v-divider
      vertical
      inset
      class="pl-3" />
    <v-toolbar-title>
      <v-list-tile-title class="font-weight-bold">
        Mississippi Department of Education
      </v-list-tile-title>
      <v-list-tile-sub-title class="font-weight-light">
        Procurement Submission System
      </v-list-tile-sub-title>
    </v-toolbar-title>
    <v-spacer />
    <v-menu
      :nudge-bottom="10"
      offset-y
      origin="center center"
      transition="scale-transition">
      <v-chip
        slot="activator"
        large>
        <v-avatar>
          <img src="https://randomuser.me/api/portraits/men/35.jpg">
        </v-avatar>
        David Kay
      </v-chip>
      <v-list class="pa-0">
        <v-list-tile
          v-for="(item,index) in items"
          :disabled="item.disabled"
          :target="item.target"
          :key="index"
          :to="!item.href ? { name: item.name } : null"
          :href="item.href"
          ripple="ripple"
          rel="noopener"
          @click="item.click">
          <v-list-tile-action v-if="item.icon">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-toolbar-items>
      <v-btn
        icon
        large>
        <v-icon
          large>settings</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      drawer: false,
      items: [
        {
          icon: 'account_circle',
          href: '#',
          title: 'Profile',
          click: e => {
            console.log(e)
          }
        },
        {
          icon: 'settings',
          href: '#',
          title: 'Settings',
          click: e => {
            console.log(e)
          }
        },
        {
          icon: 'fullscreen_exit',
          href: '#',
          title: 'Logout',
          click: e => {
            window.getApp.$emit('APP_LOGOUT')
          }
        }
      ],
      title: 'MDE Procurement App'
    }
  },
  computed: {
    open() {
      return this.$store.state.drawer
    }
  },
  methods: {
    handleDrawerToggle() {
      window.getApp.$emit('APP_DRAWER_TOGGLED')
    },
    handleFullScreen() {
      Util.toggleFullScreen()
    }
  }
}
</script>
