<template>
  <!-- wrap the app -->
  <v-app
    light
    class="app">

    <!-- sidebar -->
    <main-sidebar />

    <!-- toolbar -->
    <main-toolbar />

    <!-- main app content goes here -->
    <v-content>
      <nuxt />
      <large-footer />
    </v-content>
  </v-app>
</template>

<script>
import MainToolbar from '@/components/toolbars/MainToolbar.vue'
import MainSidebar from '@/components/sidebars/MainSidebar.vue'
import LargeFooter from '@/components/footers/LargeFooter.vue'
import AppEvents from '@/utils/event'

export default {
  components: {
    MainToolbar,
    MainSidebar,
    LargeFooter
  },
  data() {
    return {
      clipped: true,
      drawer: false,
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ],
      title: 'Mississippi Succeeds Report Card'
    }
  },
  created() {
    AppEvents.forEach(item => {
      this.$on(item.name, item.callback)
    })
    window.getApp = this
  }
}
</script>
