<template>
  <v-app>
    <v-toolbar
      dark
      flat>
      <img
        src="@/assets/mde-logo-light.svg"
        width="100">
      <v-divider
        vertical
        inset
        class="pl-3" />
      <v-toolbar-title>
        <v-list-tile-title>
          Mississippi Department of Education
        </v-list-tile-title>
        <v-list-tile-sub-title class="font-weight-light">
          Procurement Submission System
        </v-list-tile-sub-title>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        icon>
        <v-icon>settings</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container
      grid-list-xl>
      <v-layout
        justify-center
        row
        wrap
        class="pt-5">
        <v-flex
          xs8>
          <h1 class="display-3">GET MONEY</h1>
          <h1 class="subheading">Here's how to get your contract in so you can get money.
          Not a sunrise but a galaxyrise the only home we've ever known preserve and
          cherish that pale blue dot two ghostly white figures in coveralls and helmets
          are soflty dancing something incredible is waiting to be known explorations?
          Citizens of distant epochs with pretty stories for which there's little good
          evidence kindling the energy hidden in matter dream of the mind's eye astonishment
          a very small stage in a vast cosmic arena. </h1>
        </v-flex>
        <v-flex
          xs8>
          <v-btn
            large
            outline
            nuxt
            to="/submit/">
            submit proposal
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: 'blank',
  data() {
    return {}
  }
}
</script>
