<template>
  <v-app
    light>
    <v-container>
      <v-layout
        justify-center
        align-center
        row
        fill-height>
        <v-flex
          xs12
          sm8
          md4>
          <v-card
            flat
            class="transparent">
            <v-toolbar
              color="transparent"
              flat>
              <v-toolbar-title>
                <h1 class="headline font-weight-bold">MDE <span class="font-weight-light">Procurement</span></h1>
              </v-toolbar-title>
              <v-spacer />
            </v-toolbar>
            <v-card-text class="pb-1">
              <v-form
                ref="form"
                v-model="valid">
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  solo-inverted
                  flat
                  prepend-inner-icon="person"
                  name="login"
                  label="Login"
                  hint="login@mdek12.com"
                  type="text"
                  color="accent"
                  class="pb-1" />
                <v-text-field
                  id="password"
                  v-model="password"
                  :rules="passwordRules"
                  solo-inverted
                  flat
                  prepend-inner-icon="lock"
                  hint="humanoid-mingle"
                  name="password"
                  label="Password"
                  type="password"
                  class="pt-1"
                  color="accent" />
              </v-form>
            </v-card-text>
            <v-card-actions class="pt-0">
              <v-btn
                :disabled="!valid"
                outline
                class="mx-5"
                block
                nuxt
                ripple
                @click="submit">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: 'blank',
  data() {
    return {
      valid: false,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => /.+-.+/.test(v) || 'Wrong password'
      ]
    }
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$router.push('/')
      }
    }
  }
}
</script>
