<template>
  <v-container
    fluid
    class="pa-0">
    <v-layout
      row
      wrap
      justify-center>
      <v-flex xs12>

        <!-- stepper start -->
        <v-stepper
          v-model="step"
          dark
          class="elevation-0">
          <!-- stepper header start -->
          <v-stepper-header
            class="elevation-0 px-5"
            dark>
            <v-divider />
            <v-stepper-step
              :complete="step > 1"
              step="1">
              Personal/Company Information
            </v-stepper-step>
            <v-divider />
            <v-stepper-step
              :complete="step > 2"
              step="2">
              Submission Information
            </v-stepper-step>
            <v-divider />
            <v-stepper-step
              :complete="step > 3"
              step="3">
              File Upload
            </v-stepper-step>
            <v-divider />
            <v-stepper-step
              :complete="step > 4"
              step="4">
              Verify & Submit
            </v-stepper-step>
            <v-divider />
          </v-stepper-header>
          <!-- stepper header end -->

          <!-- stepper body start -->
          <v-stepper-items class="grey lighten-5">
            <v-stepper-content step="1">
              <v-container grid-list-md>
                <v-layout justify-center>
                  <v-flex xs6>
                    <v-form>
                      <v-layout
                        row
                        wrap>
                        <v-flex xs6>
                          <v-text-field
                            light
                            color="primary"
                            label="First Name"
                            hint="Enter your first name"
                            box />
                        </v-flex>
                        <v-flex xs6>
                          <v-text-field
                            light
                            color="primary"
                            label="Last Name"
                            hint="Enter your last name"
                            box />
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            light
                            color="primary"
                            label="Company Name"
                            hint="Enter your company name"
                            box />
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            light
                            color="primary"
                            label="Address"
                            hint="Enter your street address"
                            box />
                        </v-flex>
                        <v-flex xs10>
                          <v-text-field
                            light
                            color="primary"
                            label="City"
                            hint="Enter your city"
                            box />
                        </v-flex>
                        <v-flex xs2>
                          <v-select
                            :items="items"
                            light
                            box
                            label="State" />
                        </v-flex>
                      </v-layout>
                    </v-form>
                    <v-btn
                      block
                      light
                      outline
                      @click="step = 2">
                      Continue
                      <v-icon right>arrow_right</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-container grid-list-md>
                <v-layout justify-center>
                  <v-flex xs6>
                    <v-form>
                      <v-layout
                        row
                        wrap>
                        <v-flex xs6>
                          <v-text-field
                            light
                            color="primary"
                            label="Procurement Number"
                            hint="Enter procurement number"
                            box />
                        </v-flex>
                        <v-flex xs6>
                          <v-text-field
                            light
                            color="primary"
                            label="Contract Name"
                            hint="Name of contract"
                            box />
                        </v-flex>
                        <v-flex xs6>
                          <v-text-field
                            light
                            color="primary"
                            label="Description"
                            hint="Description"
                            box />
                        </v-flex>
                        <v-flex xs6>
                          <v-menu
                            ref="menu"
                            :close-on-content-click="false"
                            v-model="menu"
                            :nudge-right="40"
                            :return-value.sync="date"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px">
                            <v-text-field
                              slot="activator"
                              v-model="date"
                              label="Date"
                              light
                              box
                              prepend-icon="event"
                              readonly />
                            <v-date-picker
                              v-model="date"
                              no-title
                              scrollable>
                              <v-spacer />
                              <v-btn
                                flat
                                @click="menu = false">
                                Cancel
                              </v-btn>
                              <v-btn
                                flat
                                color="success"
                                @click="$refs.menu.save(date)">
                                OK
                              </v-btn>
                            </v-date-picker>
                          </v-menu>
                        </v-flex>
                      </v-layout>
                    </v-form>
                    <v-btn
                      block
                      light
                      outline
                      @click="step = 3">
                      Continue
                      <v-icon right>arrow_right</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-container
                fill-height
                grid-list-md>
                <v-layout
                  fill-height
                  justify-center>
                  <v-flex xs6>
                    <file-upload />
                    <v-btn
                      block
                      light
                      outline
                      @click="step = 4">
                      Continue
                      <v-icon right>arrow_right</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-stepper-content>


          </v-stepper-items>

          <!-- stepper body end -->


        </v-stepper>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import FileUpload from '@/components/FileUpload.vue'

export default {
  components: {
    FileUpload
  },
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      step: 0,
      items: ['foo', 'bar', 'bizz', 'buzz']
    }
  }
}
</script>
