<template>
  <v-stepper
    v-model="e1"
    vertical>
    <v-stepper-step
      :complete="e1 > 1"
      step="1">
      Submittor Information
      <small>Enter company/personal information</small>
    </v-stepper-step>

    <v-stepper-content step="1">
      <v-card
        color="grey lighten-1"
        class="mb-5"
        height="200px" />
      <v-btn
        color="primary"
        @click="e1 = 2">Continue</v-btn>
      <v-btn flat>Cancel</v-btn>
    </v-stepper-content>

    <v-stepper-step
      :complete="e1 > 2"
      step="2">
      Submission Information
      <small>Enter contract/proposal information</small>
    </v-stepper-step>

    <v-stepper-content step="2">
      <v-card
        color="grey lighten-1"
        class="mb-5"
        height="200px" />
      <v-btn
        color="primary"
        @click="e1 = 3">Continue</v-btn>
      <v-btn flat>Cancel</v-btn>
    </v-stepper-content>

    <v-stepper-step
      :complete="e1 > 3"
      step="3">
      Upload Files
    </v-stepper-step>

    <v-stepper-content step="3">
      <v-card
        color="grey lighten-1"
        class="mb-5"
        height="200px" />
      <v-btn
        color="primary"
        @click="e1 = 4">Continue</v-btn>
      <v-btn flat>Cancel</v-btn>
    </v-stepper-content>

    <v-stepper-step step="4">
      Verify Submission
      <small>Verify inputs and submit to MDE</small>
    </v-stepper-step>
    <v-stepper-content step="4">
      <v-card
        color="grey lighten-1"
        class="mb-5"
        height="200px" />
      <v-btn
        color="success darken-1"
        @click="e1 = 1">Submit the thing</v-btn>
      <v-btn flat>Cancel</v-btn>
    </v-stepper-content>
  </v-stepper>
</template>

<script>
export default {
  data() {
    return {
      e1: 0
    }
  }
}
</script>
