<template>
  <v-footer
    height="auto"
    app>
    <v-layout
      justify-center
      row
      wrap
      py-1>
      <v-flex
        py-1
        text-xs-center
        white--text
        xs12>
        <v-chip
          class="transparent">
          <v-avatar>
            <v-icon small>star</v-icon>
          </v-avatar>Mississippi Department of Education
        </v-chip>
        <v-chip
          class="transparent">
          <v-avatar>
            <v-icon small>star</v-icon>
          </v-avatar>Office of Technology & Strategic Services
        </v-chip>
        <v-chip
          class="transparent">
          <v-avatar>
            <v-icon small>star</v-icon>
          </v-avatar>Office of Procurement
        </v-chip>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-youtube',
        'fab fa-github'
      ],
      links: [
        { title: 'ESSA Explorer', icon: 'fa fa-search', path: '/' },
        { title: 'MSRC', icon: 'fa fa-card', path: '/msrc' }
      ]
    }
  }
}
</script>
